@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center landing-page-heading">
    <h1 class="display-4 heading">Discover Your Perfect Sound: Explore Our Curated Music Collection Today!</h1>
    <p class="sub-heading">From rare vinyl to the latest hits, find everything you need to elevate your musical journey.</p>
    <a href="/Albums" class="btn btn-primary explore-now-button">Explore Now</a>
</div>
<div class="image-container">

</div>
