@using MusicStore.Domain.Models
@model MusicStore.Domain.Models.Album

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
<h1>Edit Album</h1>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImageUrl" class="control-label"></label>
                <input asp-for="CoverImageUrl" class="form-control" />
                <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<AlbumType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>


            <!-- Add artist selection if needed -->
            <!--
            <div class="form-group">
                <label for="Artists" class="control-label">Artists</label>
                <select id="Artists" name="Artists" class="form-control" multiple="multiple">
            @* Populate this select with available artists *@
                </select>
            </div>
            -->

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
